Repository spherical-volume-rendering/svr-algorithm: changes, and which Codecov flags are due for each by the changed paths.
All: unittesting, tests

Remove ''
  .circleci/config.yml
Due: none

Remove coverage run for debugging.
  .circleci/config.yml
Due: none

Add spaces.
  .circleci/config.yml
Due: none

Codecov attempt #2.
  .circleci/config.yml
Due: none

Try installing curl.
  .circleci/config.yml
Due: none

Whoops. Install curl for debian:stretch.
  .circleci/config.yml
Due: none

Add LCOV install.
  .circleci/config.yml
Due: none

Attempt #3 codecov in CI
  .circleci/config.yml
Due: none

Attempt to add branch coverage.
  .circleci/config.yml
Due: none

Add many rays entrance exit for each axis. Add test for tangential hit exit.
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_SVR.cpp
Due: unittesting, tests

Add cythonized no ray entrance tangential hit.
  cpp/cython/tests/test_walk_spherical_volume.py
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/test_SVR.cpp
Due: unittesting, tests

Remove testing files.
  .circleci/config.yml
Due: none

Add --coverage for gcov for CI.
  cpp/tests/CMakeLists.txt
Due: unittesting, tests

Rename yml file.
  .codecov.yml
Due: none

Remove print statement.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Fix link for code coverage.
  README.md
Due: none

Add tests for ray on otherside of origin.
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/test_SVR.cpp
Due: unittesting, tests

Add cythonized cases.
  cpp/cython/tests/test_walk_spherical_volume.py
Due: unittesting

Optimize initialization phase for common case of ray outside sphere.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Remove delta radius vector since it was only used once.
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_voxel_grid.h
Due: unittesting

Remove floating point comparisons where close cases are unlikely.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Add back some of the fp calculations.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Clang Format the cpp source.
  cpp/floating_point_comparison_util.h
  cpp/ray.h
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_volume_rendering_util.h
  cpp/spherical_voxel_grid.h
  cpp/tests/test_SVR.cpp
  cpp/vec3.h
Due: unittesting, tests

Clang tidy benchmarks.
  cpp/benchmarks/benchmark_SVR.cpp
Due: unittesting

Run SVR testing 5 times.
  .circleci/config.yml
Due: none

Add tests to be run by CI.
  cpp/tests/CMakeLists.txt
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Update .circleci to run CI tests.
  .circleci/config.yml
Due: none

Fix .circleci missing quotation.
  .circleci/config.yml
Due: none

Add more checks within the CI test.
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Add more integrated tests.
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Add more tests, verify general angular voxel ordering and bounds.
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Update benchmarks, reduce number of rays for CI tests.
  README.md
  cpp/benchmarks/benchmark_SVR.cpp
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Remove old misc files in matlab code.
  matlab/miscellaneous/polarCoordinateTraversal_jenkyR.m
  matlab/miscellaneous/polarCoordinateTraversal_old.m
  matlab/miscellaneous/radial_hit_jenkyR.m
  matlab/miscellaneous/radial_hit_old.m
Due: none

Add fail statement in the case of voxel check failure
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Strengthen the requirements of the radial check.
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Add random ray placement tests. Cleanup.
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

documentation for TestParameters.
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Static cast values to avoid implicit changes.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Path conditions:
  unittesting: any of: cpp/
  tests: any of: cpp/tests/
