Repository spherical-volume-rendering/svr-algorithm: changes, and which Codecov flags are due for each by the changed paths.
All: unittesting, tests

codecov.yml:

coverage:
  status:
    project:
      unittesting:
        flags:
          - unittesting
        target: 85%
flags:
  unittesting:
    paths:
      - cpp/
  tests:
    paths:
      - cpp/tests/

Fix print statement in CI test.
  cpp/tests/ci_tests.cpp
Due: unittesting, tests

Code cleanup.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

snake case for test files.
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/benchmark_svr.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/continuous_integration_tests.cpp
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Update binary names, documentation for name change to snake case.
  .circleci/config.yml
  README.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/benchmark_svr.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Fix circleci, Attempt to ignore cythonized code in coverage.
  .circleci/config.yml
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Randomize major axis used in random input CI test.
  cpp/tests/CMakeLists.txt
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

Fix bug where a boolean should be a double.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Fix bug in CI tests comparing a bool with float.
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

Remove unnecessary floating point comparison.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Update variable name.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Reduce code duplication, improve readability.
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

Use const & for SphericalVoxel.
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

const &
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

Remove use of t_begin.
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Unitized ray direction.
  cpp/ray.h
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_volume_rendering_util.h
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Remove t_begin in cythonized code.
  cpp/cython/cython_SVR.pyx
  cpp/cython/tests/test_walk_spherical_volume.py
Due: unittesting

Remove t_begin in cython, CI, benchmarks.
  cpp/benchmarks/benchmark_svr.cpp
  cpp/cython/tests/test_walk_spherical_volume.py
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

Refactor test file to remove t_end.
  cpp/tests/continuous_integration_tests.cpp
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Fix tests where ray end time is not 1.0
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Fix up cython tests to reflect cpp tests.
  cpp/cython/cython_SVR.pyx
  cpp/cython/tests/test_walk_spherical_volume.py
Due: unittesting

Unitized time.
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_volume_rendering_util.h
Due: unittesting

Default time to 1.0 for cythonized version (similar for walk_volume).
  cpp/cython/cython_SVR.pyx
  cpp/cython/tests/test_walk_spherical_volume.py
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Change t_end to max_t.
  cpp/cython/cython_SVR.pyx
  cpp/cython/tests/test_walk_spherical_volume.py
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_volume_rendering_util.h
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Add randomized ray placement within sphere.
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

Add tests for unitized time.
  cpp/cython/tests/test_walk_spherical_volume.py
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_voxel_grid.h
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Update first quadrant test to use t = 0.5.
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Update documentation for walkSphericalVolume.
  cpp/spherical_volume_rendering_util.h
Due: unittesting

Add linear function for max_t.
  cpp/spherical_volume_rendering_util.h
Due: unittesting

Change to >=1.0
  cpp/spherical_volume_rendering_util.h
Due: unittesting

Update names of CI tests.'
  cpp/tests/continuous_integration_tests.cpp
Due: unittesting, tests

Update benchmarks to reflect unitized values.
  README.md
Due: none

Remove curly brackets for one liner if statements.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Remove curly brackets for if statement II
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Remove unnecessary explicit cast to FreeVec3.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

When determining minimum intersection, reduce number of floating point comparison calls to 3.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Simplify radialHit() by removal of RadialHitMetadata. Lessen number of isEqual() calls in minIntersection.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Remove within_bounds value of hit parameter. Minimize calls to FP comparison in angular hit.,
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Fix radial.tMax repeated -> azimuthal.tMax in DOUBLE_MAX check.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Add sampler function to cpp version.
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_volume_rendering_util.h
Due: unittesting

Add sampler function to cpp version.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting
