Repository spherical-volume-rendering/svr-algorithm: changes, and which Codecov flags are due for each by the changed paths.
All: unittesting, tests

codecov.yml:

coverage:
  status:
    project:
      unittesting:
        flags:
          - unittesting
        target: 85%
flags:
  unittesting:
    paths:
      - cpp/
  tests:
    paths:
      - cpp/tests/

const noexcept function.
  cpp/spherical_volume_rendering_util.h
Due: unittesting

Add todo.
  cpp/spherical_volume_rendering_util.h
Due: unittesting

Update time on sectioned traversals.
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Updated traversal for bounded grid.
  cpp/spherical_volume_rendering_util.cpp
Due: unittesting

Updates to grid for attribute access in bounded traversal.
  cpp/spherical_voxel_grid.h
Due: unittesting

Update angular_init.m
  matlab/spherical-traversal/angular_init.m
Due: none

attempt to add enter_t exit_t to Voxels and fix some bounds logic
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_volume_rendering_util.h
  cpp/spherical_voxel_grid.h
Due: unittesting

Add more rays per quadrant test, update inBounds funs. return and abs.
  cpp/spherical_volume_rendering_util.cpp
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Const correctness for spherical_voxel_grid. Makes some slight changes to the algorithm.
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_volume_rendering_util.h
  cpp/spherical_voxel_grid.h
Due: unittesting

Change quadrant -> octant.
  cpp/tests/test_svr.cpp
Due: unittesting, tests

Fix bound.
  cpp/tests/test_svr.cpp
Due: unittesting, tests

General cleanup, noexcept use.
  cpp/floating_point_comparison_util.h
  cpp/ray.h
  cpp/spherical_volume_rendering_util.cpp
  cpp/spherical_voxel_grid.h
  cpp/vec3.h
Due: unittesting

Add constexpr to UnitVec.
  cpp/vec3.h
Due: unittesting

Remove constexpr because of unhappy GCC.
  cpp/ray.h
  cpp/vec3.h
Due: unittesting

Remove constexpr due to unhappy GCC.
  cpp/ray.h
Due: unittesting
